@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
     background-color: rgb(88, 85, 85); 
    width: 434px;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: white;
    
}

.main {
    /* background-color: yellow; */
    width: 90vw;
}

.container {
    display: flex;
}

.infocontainer {
    /* background-color: purple;  */
    width: 70vw;
    height: 55vh;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devpic img{
    /* width: 281px; */
    /* margin: 5px; */
    /* padding: 5px; */
    height: 55vh;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
font-size: 70px;
}
.name{
font-size: 55px;
font-weight: bold;
}
.about{
font-size: 40px;
}
.moreabout{
    font-size: 20px;
    margin-top: 23px;
}
.buttons{
    margin-top: 34px;
}
.btn{
    padding: 9px 14px;
    border-radius:22px ;
    color:white ;
    background-color:dodgerblue ;
    font-size: 21px;
    font-weight: bold;
    margin:0 3px ;
    cursor: pointer;

}
.btn-sm{
    font-size: 17px;
}
.btn:hover{
    background-color: black;
}
.contactform{
padding: 0 34px;
padding-top: 144px;
}
.contactform h1{
    font-family: 'Open Sans', sans-serif;
    /* text-align: center; */
}
.contactform form div{
    padding: 10px 0;
}
#emailHelp{
    font-size: 10px;
    color: midnightblue;
    margin: 0 5px;
}
 .contactform form div input{
   width: 26vw; 
   border-radius: 5px;
   padding: 3px;
   margin: 6px 0 0 0;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width:36px ;
    margin:3px 0 ;
} 
.blogItem{
margin: 20px;
font-family: 'Open Sans', sans-serif;
}
.blogcontainer h1{
    font-family: 'Open Sans', sans-serif;
    margin: 23px;
}
.blogItem p{
    font-family: 'Open Sans', sans-serif;
}
.intro h2{
    font-family: 'Open Sans', sans-serif;
    margin: 12px;
}

.intro p{
    font-family: 'Open Sans', sans-serif;
    margin: 12px;
}
.skillItem{
    display: flex;
    align-items: center;
}
.Skillcontainer{
padding: 12px;
}
.skill{
background-color: red;
width:265px ;
height:6px ;
border: 2px solid black;
font-weight: 900;
}
.hundred{
width:265px ;
background-color: blueviolet;
}
.fifty{
width: 125px;
background-color: aqua;
}
.t5{
width:75px ;
background-color: yellow;
}



@media (max-width:1615px) {
    *{
        background-color: red;
    }
    .sidebar{
        transform :translate(-443px ,0px);
        position: absolute;
    }
    
}
